/*Overall*/
body {
    background-color: black;
    color: white;
    text-align: right;
}

#calculator {
    display: flex;
    width: 400px;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px; 
}

/**/
#display {
    background-color: rgba(70, 70, 70, 50%);
    height: 24px;
}

#input {
    display: flex;
    flex-direction: row;
}

/*Numbers*/
#numbers {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 75%;
}

.number {
    flex-basis: 33%;
}

.zero {
    flex-basis: 66%;
}

/*Operators*/
#operators {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25%;
}

.operator {
    flex-basis: 33%;
}

.equals {
    flex-basis: 66%;
}