<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Server</title>
    <link rel="stylesheet" href="css/suchicustom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/suchibanner.css">
    <script src="javascript/suchijs.js"></script>

</head>
<body>

<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/logo.svg" alt="logo image">
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-wrench"></i>Topics
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="internethistory.html"><b>The Internet</b></a></li>
                            <li><a href="webserver.html">Web Server</a></li>
                            <li><a href="ipanddns.html">IP Address and DNS</a></li>
                            <li><a href="http.html">HTTP</a></li>
                            <li><a href="dotcombubble.html">Dot-com bubble</a></li>
                            <li><a href="browserwars.html">Browser Wars</a></li>
                            <li><a href="tcpip.html">TCP/IP</a></li>
                            <li><a href="arpanet.html">ARPANET</a></li>
                            <li><a href="history.html">HISTORY</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="about.html"><i class="fa fa-fw fa-user"></i>About</a></li>
                    <li><a href="contactus.html"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <!-- Background image -->

        <!-- Background image -->

    </header>
    <div class="container-fluid text-center">


        <div class="row content">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><b>About</b></a></li>
                    </ol>
                </nav>
            </div>

            <div>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="rounded-circle" src="images/suchi.jpg" alt="Suchi image" width="140" height="140">
                        <h2>Suchi Khare</h2>
                        <p>Developed :</p>
                        <p>Z-layout index.html</p>
                        <p>F-layout "The Internet" internethistory.html</p>
                        <p>F-layout "Web Server" webserver.html</p>
                        <p>F-layout "IP Address and DNS" ipanddns.html</p>
                        <p>Generic about.html</p>
                        <p>Generic contactUs.html</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="rounded-circle"
                             src="images/aditya.jpeg"
                             alt="Generic placeholder image" width="140" height="140">
                        <h2>Aditya Aralimara</h2>
                        <p>Developed :</p>
                        <p>Z-layout index.html</p>
                        <p>History.html</p>
                        <p>Tcpip.html</p>
                        <p>Arpanet.html</p>

                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="rounded-circle" src="images/yeswanth.jpg" alt="Yeswanth image" width="140" height="140">
                        <h2>Yeswanth Sai</h2>
                        <p>Developed :</p>
                        <p>Z-layout index.html</p>
                        <p>Dotcom Bubble dotcombubble.html</p>
                        <p>HTTP http.html</p>
                        <p>Browserwars ipanddns.html</p>
                        <p>About about.html</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div>

            <footer class="text-center text-lg-start bg-light text-muted">
                <!-- Section: Social media -->

                <div>
                    SuchiKhare &#169;,Aditya Aralimara &#169;,Yeswanth Sai &#169;
                </div>




                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span>Get connected with us on social networks:</span>
                </div>
                <div>
                    <a href="https://www.facebook.com" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/SuchiKhare/project1" class="me-4 text-reset">
                        <i class="fab fa-github"></i>
                    </a>
                </div>

            </footer>
        </div>
    </div>
</div>
</body>
</html>
