<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet History</title>
    <link rel="stylesheet" href="css/suchicustom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="javascript/suchijs.js"></script>
    <style>

    </style>
</head>
<body>

<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/logo.svg" alt="logo image">
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="dropdown, active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-wrench"></i>Topics
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="internethistory.html"><b>The Internet</b></a></li>
                            <li><a href="webserver.html">Web Server</a></li>
                            <li><a href="ipanddns.html">IP Address and DNS</a></li>
                            <li><a href="http.html">HTTP</a></li>
                            <li><a href="dotcombubble.html">Dot-com bubble</a></li>
                            <li><a href="browserwars.html">Browser Wars</a></li>
                            <li><a href="tcpip.html">TCP/IP</a></li>
                            <li><a href="arpanet.html">ARPANET</a></li>
                            <li><a href="history.html">HISTORY</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html"><i class="fa fa-fw fa-user"></i>About</a></li>
                    <li><a href="arpanet.html"><i class="fa fa-fw fa-envelope"></i>ARPANET</a></li>
                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <!-- Background image -->

        <!-- Background image -->

    </header>
    <div class="container-fluid text-center">


        <div class="row content">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="arpanet.html"><b>ARPANET</b></a></li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-2 sidenav">
                <p><a href="internethistory.html">The Internet</a></p>
                <p><a href="webserver.html">Web Server</a></p>
                <p><a href="ipanddns.html">IP Address and DNS</a></p>
                <p><a href="http.html">HTTP</a></p>
                <p><a href="dotcombubble.html">Dot-com bubble</a></p>
                <p><a href="browserwars.html">Browser Wars</a></p>
                <p><a href="tcpip.html">TCP/IP</a></p>
                <p><b><a href="arpanet.html">ARPANET</a></b></p>
                <p><a href="history.html">HISTORY</a></p>

                <hr class="black">
                <!--<p><a class="btn btn-first" href="">Get Video</a></p>
                <p><a class="btn btn-second" href="">Subscribe Us</a></p>-->

            </div>
            <div class="col-sm-8 text-left">
                <h1>What is ARPANET</h1>
                <p class="grw-font">
                    In April 1971, the ARPANET had 18 mainframes computer interconnected across the country. Robert Metcalf was an MIT graduate student who connected MIT computers to ARPANET. At first, there wasn’t much to do in ARPANET beyond transferring data files among its network.</p>
                <p class = "grw-font">Then a new capability was added, a killer application called E-mail was added which changed the way of communication around the world. Reymond Tomlinson invented the E-mail and he also gave meaning to the ‘@’ symbol. In Oct 1972, ARPANET created the first Sci-fi movie using the internet.</p>
         <p class = "grw-font">  Soon computer networks were growing Robert Metcalf found out there were 19 different features to work on the internet and soon there were LANs and WANs. LAN (Local Area Networks) which contains all the connections in one building or organization and WAN (Wide Area Networks) which are connected between organizations. But each LAN or organization used its protocols for communications. Because of this, there were difficulties in communicating between people. So, there was a need for a common protocol. </p>




                </p>
                <hr class="black">





            </div>
            <div class="col-sm-2 sidenav">
                <div class="text-center">
                    <img class="img-fluid" height="400" width="400" src="arpanet.jpg"
                         alt="image of ARPANET HISTORY MARKER">
                    <p>ARPANET  MARKER</p>


                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <div>
            Aditya Aralimara &#169;
        </div>
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Adityaj54/IS601Project1" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="" class="me-4 text-reset">
                W3CValidator
            </a>
        </div>
    </footer>
</div>
</body>
</html>