<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Browser Wars</title>
    <link rel="stylesheet" href="css/suchicustom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="javascript/suchijs.js"></script>

</head>
<body>
<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/logo.svg" alt="logo image">
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="dropdown, active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-wrench"></i>Topics
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="internethistory.html"><b>The Internet</b></a></li>
                            <li><a href="webserver.html">Web Server</a></li>
                            <li><a href="ipanddns.html">IP Address and DNS</a></li>
                            <li><a href="http.html">HTTP</a></li>
                            <li><a href="dotcombubble.html">Dot-com bubble</a></li>
                            <li><a href="browserwars.html">Browser Wars</a></li>
                            <li><a href="tcpip.html">TCP/IP</a></li>
                            <li><a href="arpanet.html">ARPANET</a></li>
                            <li><a href="history.html">HISTORY</a></li>

                        </ul>
                    </li>
                    <li><a href="about.html"><i class="fa fa-fw fa-user"></i>About</a></li>
                    <li><a href="contactus.html"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <!-- Background image -->

        <!-- Background image -->

    </header>
    <div class="container-fluid text-center">


        <div class="row content">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="webserver.html"><b>Browser wars</b></a></li>
                    </ol>
                </nav>
            </div>

                    <div class="col-sm-8">
                        <h2>Browser Wars</h2>
                        <div class="fakeimg"><img class="center" height="400" width="600" src="images/browerwars.jpg"
                                                  alt="bw image"></div>
                        <h3>Browser War Mean</h3>
                        <p class="left">The browser wars originally referred to a period of intense competition between Netscape and Microsoft over which web browser would come to dominate the market. Microsoft’s Internet Explorer (IE) lagged Netscape’s Navigator technically for much of the browser war period, but was given to users as a bundled product with the Windows operating system. Microsoft ended up winning the browser wars, and IE came to dominate the market in the 1990s.

                            However, IE's market share has since been eroded by the emergence of new browsers such as Google Chrome, Mozilla Firefox, Safari and Opera, sparking a new round of browser wars. </p>
                        <h3>Before Web Era  </h3>

                        <p class="left">In 1950, computers took up whole rooms and were dumber than today’s pocket calculators. But progress was swift, and by 1960 they were able to run complex programs. Governments and universities across the globe thought it would be great if the machines could talk, nurturing collaboration and scientific breakthroughs.

                            ARPANET was the first successful networking project and in 1969 the first message was sent from the computer science lab at University of California, Los Angeles (UCLA) to Stanford Research Institute (SRI), also in California.

                            That sparked a revolution in computer networking. New networks formed, connecting universities and research centers across the globe. But for the next 20 years, the internet wasn’t accessible to the public. It was restricted to university and government researchers, students, and private corporations. There were dozens of programs that could trade information over telephone lines, but none of them were easy to use. The real open internet, and the first web browser, wasn’t created until 1990 </p>

                        <h3>The Browser Wars</h3>
                        <p class="left"> </p>
                        <p class="left">By 1995, Netscape Navigator wasn’t the only way to get online. Computer software giant Microsoft licensed the old Mosaic code and built its own window to the web, Internet Explorer. The release sparked a war. Netscape and Microsoft worked feverishly to make new versions of their programs, each attempting to outdo the other with faster, better products.</p>
                        <p class="left"> Netscape created and released JavaScript, which gave websites powerful computing capabilities they never had before. (They also made the infamous blink tag.) Microsoft countered with Cascading Style Sheets (CSS), which became the standard for web page design.</p>
                        <p class="left"> Things got a little out of hand in 1997 when Microsoft released Internet Explorer 4.0. The team built a giant letter “e” and snuck it on the lawn of Netscape headquarters. The Netscape team promptly knocked the giant “e” over and put their own Mozilla dinosaur mascot on top of it.</p>
                        <p class="left">Then Microsoft began shipping Internet Explorer with their Windows operating system. Within 4 years, it had 75% of the market and by 1999 it had 99% of the market. The company faced antitrust litigation over the move, and Netscape decided to open source its codebase and created the not-for-profit Mozilla, which went on to create and release Firefox in 2002. Realizing that having a browser monopoly wasn’t in the best interests of users and the open web, Firefox was created to provide choice for web users. By 2010, Mozilla Firefox and others had reduced Internet Explorer’s market share to 50%.</p>
                        <p class="left">Other competitors emerged during the late ‘90s and early 2000s, including Opera, Safari, and Google Chrome. Microsoft Edge replaced Internet Explorer with the release of Windows 10 in 2015. </p>
                        <h3>Browsing the Web Today</h3>
                        <p class="left">Today there are just a handful of ways to access the internet. Firefox, Google Chrome, Microsoft Edge, Safari and Opera are the main competitors. Mobile devices have emerged during the past decade as the preferred way to access the internet. Today, most internet users only use mobile browsers and applications to get online. Mobile versions of the major browsers are available for iOS and Android devices. While these apps are very useful for specific purposes, they only provide limited access to the web.
                        </p>
                        <p class="left"> In the future, the web will likely stray further from its hypertext roots to become a vast sea of interactive experiences. Virtual reality has been on the horizon for decades (at least since the release of Lawnmower Man in 1992 and the Nintendo Virtual Boy in 1995), but the web may finally bring it to the masses. Firefox now has support for WebVR and A-Frame, which let developers quickly and easily build virtual reality websites. Most modern mobile devices support WebVR, and can easily be used as headsets with simple cardboard cases. A 3D virtual reality web like the one imagined by science fiction author Neal Stephenson may be just around the corner. If that’s the case, the web browser itself may completely disappear and become a true window into another world.
                        </p>

                            Whatever the future of the web holds, Mozilla and Firefox will be there for users, ensuring that they have powerful tools to experience the web and all it has to offer. The web is for everyone, and everyone should have control of their online experience. That’s why we give Firefox tools to protect user privacy and we never sell user data to advertisers.


                    </div>
                </div>
            </div>
        </div>

    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->

            Yeswanth Sai &#169;
        <a href="w3cvalidator/browserwars@w3c.html">W3C Validator</a>
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/SuchiKhare/project1" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </footer>
</body>
</html>