<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet History</title>
    <link rel="stylesheet" href="css/suchicustom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="javascript/suchijs.js"></script>
    <style>

    </style>
</head>
<body>

<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/logo.svg" alt="logo image">
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="dropdown, active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-wrench"></i>Topics
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="internethistory.html"><b>The Internet</b></a></li>
                            <li><a href="webserver.html">Web Server</a></li>
                            <li><a href="ipanddns.html">IP Address and DNS</a></li>
                            <li><a href="http.html">HTTP</a></li>
                            <li><a href="dotcombubble.html">Dot-com bubble</a></li>
                            <li><a href="browserwars.html">Browser Wars</a></li>
                            <li><a href="tcpip.html">TCP/IP</a></li>
                            <li><a href="arpanet.html">ARPANET</a></li>
                            <li><a href="history.html">HISTORY</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html"><i class="fa fa-fw fa-user"></i>About</a></li>
                    <li><a href="history.html"><i class="fa fa-fw fa-envelope"></i>HISTORY</a></li>
                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <!-- Background image -->

        <!-- Background image -->

    </header>
    <div class="container-fluid text-center">


        <div class="row content">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="arpanet.html"><b>ARPANET</b></a></li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-2 sidenav">
                <p><a href="internethistory.html">The Internet</a></p>
                <p><a href="webserver.html">Web Server</a></p>
                <p><a href="ipanddns.html">IP Address and DNS</a></p>
                <p><a href="http.html">HTTP</a></p>
                <p><a href="dotcombubble.html">Dot-com bubble</a></p>
                <p><a href="browserwars.html">Browser Wars</a></p>
                <p><a href="tcpip.html">TCP/IP</a></p>
                <p><a href="arpanet.html">ARPANET</a></p>
                <p><b><a href="history.html">HISTORY</a></b></p>
                <hr class="black">
                <!--<p><a class="btn btn-first" href="">Get Video</a></p>
                <p><a class="btn btn-second" href="">Subscribe Us</a></p>-->

            </div>
            <div class="col-sm-8 text-left">
                <h1>HISTORY OF INTERNET</h1>
                <p class="grw-font">
                    This is the age of the internet, the global networks of computer-based communication. As of now, 4.66 billion people use the internet worldwide to exchange messages, conduct business, meet people and find information. Internet is also a tool of war to manage materials and manpower as the UN coalition did at the war with Saddam Hussain. Internet is also an information link, during the crisis it carries news on mobiles, TVs, and radios. So, how did it start? For what reason, it started? Who invented the internet? Who all were part of the development and growth of the internet? How is the Internet in the present day? We will see answers to all of these questions below.
                <p class = "grw-font">During the 1950s there was a cold war between the USA and the Soviet Union. In Oct 1957, Soviet Union launched Sputnik. To take over the Soviet Union in space, In Nov 1957 US President D Eisenhower created ARPA (Advanced Research Project Agency). ARPA was in charge of space programs (But afterward space program got its agency called NASA). For this space program, there was a requirement for communication with the space shuttle, and this required a communication network which we call the internet today.</p>
                <p class = "grw-font"> In 1960, a seminal idea for the internet was envisioned by psychologist   J. C. R. Licklider, Professor at MIT. At this time computer networks and communication were at their embryonic stages. Shortly thereafter, At MIT a graduate student Leonard Kleinrock began applying queuing theory for data transmission. Similar to queuing of postcards in the post office, Dr. Leonard Kleinrock showed how data would queue at the nodes of communication. In this way, he could determine the overall speed of the network. He also showed how to speed up the network using two methods: demand access and distributed control.</p>





                </p>
                <hr class="black">





            </div>
            <div class="col-sm-2 sidenav">
                <div class="text-center">
                    <img class="img-fluid" height="400" width="400" src="internet.png"
                         alt="image of INTERNET CONNECTIVITY">
                    <p>INTERNET CONNECTIVITY</p>


                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <div>
            Aditya Aralimara &#169;
        </div>
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Adityaj54/IS601Project1" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="" class="me-4 text-reset">
                W3CValidator
            </a>
        </div>
    </footer>
</div>
</body>
</html>