<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internet History</title>
    <link rel="stylesheet" href="css/suchicustom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="javascript/suchijs.js"></script>
    <style>

    </style>
</head>
<body>

<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/logo.svg" alt="logo image">
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="dropdown, active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-wrench"></i>Topics
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="internethistory.html"><b>The Internet</b></a></li>
                            <li><a href="webserver.html">Web Server</a></li>
                            <li><a href="ipanddns.html">IP Address and DNS</a></li>
                            <li><a href="http.html">HTTP</a></li>
                            <li><a href="dotcombubble.html">Dot-com bubble</a></li>
                            <li><a href="browserwars.html">Browser Wars</a></li>
                            <li><a href="tcpip.html">TCP/IP</a></li>
                            <li><a href="arpanet.html">ARPANET</a></li>
                            <li><a href="history.html">HISTORY</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html"><i class="fa fa-fw fa-user"></i>About</a></li>
                    <li><a href="contactus.html"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <!-- Background image -->

        <!-- Background image -->

    </header>
    <div class="container-fluid text-center">


        <div class="row content">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="internethistory.html"><b>The Internet</b></a></li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-2 sidenav">
                <p><b><a href="internethistory.html">The Internet</a></b></p>

                <p><a href="webserver.html">Web Server</a></p>
                <p><a href="ipanddns.html">IP Address and DNS</a></p>
                <p><a href="http.html">HTTP</a></p>
                <p><a href="dotcombubble.html">Dot-com bubble</a></p>
                <p><a href="browserwars.html">Browser Wars</a></p>
                <p><a href="tcpip.html">TCP/IP</a></p>
                <p><a href="arpanet.html">ARPANET</a></p>
                <p><a href="history.html">HISTORY</a></p>
                <hr class="black">
                <!--<p><a class="btn btn-first" href="">Get Video</a></p>
                <p><a class="btn btn-second" href="">Subscribe Us</a></p>-->

            </div>
            <div class="col-sm-8 text-left">
                <h1>What is Internet</h1>
                <p class="grw-font">The Internet (or internet) is the global system of interconnected computer networks
                    that uses the Internet protocol suite (TCP/IP) to communicate between networks and devices. It is a
                    network of networks that consists of private, public, academic, business, and government networks of
                    local to global scope, linked by a broad array of electronic, wireless, and optical networking
                    <span id="dots1">...</span><span id="more1">technologies. The Internet carries a vast range of information resources and services, such as the
                    inter-linked hypertext documents and applications of the World Wide Web (WWW), electronic mail,
                        telephony, and file sharing.</span>
                    <button class="btn btn-info" onclick="readMoreOrLess()" id="myBtn1">Read more</button>
                </p>
                <hr class="black">
                <h3>History of Internet</h3>
                <p class="grw-font">During World War 2 - the technology used to establish the telephone calls was
                    <custom-mark>switchboard devices</custom-mark>
                    .Before the advent of operator distance dialing and customer direct dial (DDD) calling, switchboard
                    operators would work with their counterparts in the distant central office to complete long-distance
                    calls. Switchboard
                    operators are typically required to have very strong communication skills.
                </p>
                <table class="table" id="grw-table-font">
                    <thead>
                    <tr>
                        <th scope="col">Switchboards</th>
                        <th scope="col">Problems</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div><img class="img-fluid" height="120" width="180" src="images/switchboards.jpg"
                                      alt="image of old switch boards"></div>
                        </td>
                        <td><p>Problems with this was circuit switching was one long message, centralized connection and
                            pre-allocates dedicated network bandwidth.</p></td>

                    </tr>
                    </tbody>
                </table>

                <p class="grw-font">
                    Early 1960,
                    <custom-mark>Paul Barren</custom-mark>
                    developed concept of
                    <custom-mark>Distributed Adaptive Message Block
                        Switching
                    </custom-mark>
                    which is fault tolerant and efficient routing method for telecommunication. He had this idea
                    of breaking and sending data into blocks in as fast as possible way to every directed path through
                    mess
                    network. This experiment became the nationwide packet network and it worked.

                    <button type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#myModal">
                        Packet Switching
                    </button>
                </p>
                    <!-- The Modal /popup window starts-->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Packet Switching</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Packet switching is a method of grouping data that is transmitted over a digital network
                                into packets.
                                Packets are made of a header and a payload. Data in the header is used by networking
                                hardware to direct the packet to its destination,
                                where the payload is extracted and used by application software. Packet switching is the
                                primary basis
                                for data communications in computer networks worldwide.
                                <h6>
                                    <mark>Reference : https://en.wikipedia.org/wiki/Packet_switching</mark>
                                </h6>
                                <div class="text-center">
                                    <img class="img-fluid" height="400" width="400"
                                         src="images/Packet_Switching_animation.gif"
                                         alt="image showing packet switching">
                                </div>
                                <p>An animation demonstrating datagram type of packet switching across a network</p>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- The Modal /popup window ends-->

                <p class="grw-font"> 1958-1969 (ARPA)authorized by President
                    <custom-mark>Dwight D. Eisenhower</custom-mark>
                    in 1958
                    purpose R&D projects to expand the frontiers technology and able to reach far beyond military
                    requirements. 1958- NASA was established so all space project and most ARPAs funding were
                    transferred to it.
                </p>

                <p class="grw-font">1962-
                    <custom-mark>Licklider</custom-mark>
                    was
                    appointed head of the Information Processing Techniques Office (IPTO) at ARPA. From 1962-1964 -
                    Licklider, the American computer scientist who helped lay the groundwork for computer networking and
                    <custom-mark>ARPANET (Advanced Research Projects Agency Network)</custom-mark>
                    , the predecessor of the Internet.
                    He called the internet of superblocks and whole idea is
                    proposed to ARPA.1965 - 69 ARPANET is launched the world's first successful connection, time when IP
                    network send the packets. They eventually figured how to connect to nodes and build ARPANET.
                </p>
                <p class="grw-font">1970 -
                    <custom-mark>Vint Cerf and Bob Kahn</custom-mark>
                      started working on design what is called
                    <custom-mark>INTERNET</custom-mark>
                    today.
                    That was actually a result of another experiment called ARPANET <span id="dots">...</span><span
                            id="more">
                        (Defense R&D project).1972 - ARPANET included 37 networked computers.
                        In the 1980s and 1990s,<custom-mark>Al Gore</custom-mark> former Senator,
                        he sponsored the bill thatARPANET made as <custom-mark>public not private</custom-mark>
                    . ARPANET, allowing greater<custom-mark>public access</custom-mark>, and helping to develop
                    the Internet. Internet become public ally available in 1991. Prior to this we have separate LAN
                    (private
                    LAN). AOL was providing the nw to connect the network. it combined TCP-IP with http server, they ran
                    on the server and that made the internet. Internet (TCP-IP is a wide network) it supports http, ssh
                    and etc. Algore former Senator who made internet public --in the process they make
                    <custom-mark>ICANN</custom-mark> (nonprofit) -who maintains the internet and control the IP,
                        DNS and sells the domain name. In 1994, <custom-mark> Tim
                    Berners-Lee</custom-mark>
                     founded the World Wide Web Consortium (often referred to as "W3C") at MIT to create standards for
                    the web so that different websites work together.

                </span>
                    <button class="btn btn-info" onclick="myFunction()" id="myBtn">Read more</button>
                </p>


            </div>
            <div class="col-sm-2 sidenav">
                <div class="text-center">
                    <img class="img-fluid" height="120" width="120" src="images/PaulBaran.jpg"
                         alt="image of Paul Baran Cerf">
                    <p>Paul Baran</p>

                    <img class="img-fluid" height="120" width="120" src="images/Dwight_D._Eisenh.jpg"
                         alt="Image of Dwight_D._Eisenh">
                    <p>President Dwight_D. Eisenh</p>

                    <img class="img-fluid" height="120" width="120" src="images/JCRLicklider.jpg"
                         alt="image of JCR Liclider">
                    <p>JCR Liclider</p>

                    <img class="img-fluid" height="120" width="120" src="images/Cerf_Vint.jpg"
                         alt="image of Vint Cerf">
                    <p>Vint Cerf</p>

                    <img class="img-fluid" height="120" width="120" src="images/bobkahn.jpg"
                         alt="image of Bob Kahn">
                    <p>Bob Kahn</p>

                    <img class="img-fluid" height="120" width="120" src="images/AlGore.jpg" alt="image of Al Gore">
                    <p>Al Gore</p>

                    <img class="img-fluid" height="120" width="120" src="images/TimberLee.jpg"
                         alt="image of Timber Lee">
                    <p>Tim Berners Lee</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <div>
            SuchiKhare &#169;
        </div>
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/SuchiKhare/IS601Project1" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="w3cvalidator/internethistory.html" class="me-4 text-reset">
                W3CValidator
            </a>
        </div>
    </footer>
</div>
</body>
</html>