<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IP Address and </title>
    <link rel="stylesheet" href="css/suchicustom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="javascript/suchijs.js"></script>

</head>
<body>
<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/logo.svg" alt="logo image">
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="dropdown, active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-wrench"></i>Topics
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="internethistory.html"><b>The Internet</b></a></li>
                            <li><a href="webserver.html">Web Server</a></li>
                            <li><a href="ipanddns.html">IP Address and DNS</a></li>
                            <li><a href="http.html">HTTP</a></li>
                            <li><a href="dotcombubble.html">Dot-com bubble</a></li>
                            <li><a href="browserwars.html">Browser Wars</a></li>
                            <li><a href="tcpip.html">TCP/IP</a></li>
                            <li><a href="arpanet.html">ARPANET</a></li>
                            <li><a href="history.html">HISTORY</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html"><i class="fa fa-fw fa-user"></i>About</a></li>
                    <li><a href="contactus.html"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <!-- Background image -->

        <!-- Background image -->

    </header>
    <div class="container-fluid text-center">


        <div class="row content">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="webserver.html"><b>IP Address and DNS</b></a></li>
                    </ol>
                </nav>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>IP-Address</h2>
                        <h5>IP(Internet Protocol)-v4</h5>
                        <div class="fakeimg"><img height="200" width="200" src="images/IPV4.png" alt="IPv4 image">
                        </div>
                        <p class="left">An IP address is a string of numbers assigned to an internet-connected device,
                            much like an
                            address on a house.Essentially,
                            IP addresses are how computers on the internet recognize one another.
                            To make sure you can do your thing on the Internet, your computer’s networking software is
                            hardwired to follow a list of built-in networking standards and rules (yes, protocols) to
                            connect to Internet, and to swap information and data back and forth.
                            One of those networking protocols on your computer, the Internet Protocol, is responsible
                            for addressing, delivering and routing your online requests precisely. It attaches an
                            “electronic return address” to all your online
                            requests and activity for you. The address it uses is the IP address for your connection.
                            <span id="dots">...</span><span id="more">IPv4 & IPv6 are both IP addresses that are binary numbers. Comparing IPv6 vs IPv4, IPv4 is 32
                            bit binary number while IPv6 is 128 bit binary number address.

                            IP addressing entails the assignment of IP addresses and associated parameters to host interfaces.
                            The address space is divided into subnetworks, involving the designation of network prefixes.
                            IP routing is performed by all hosts, as well as routers, whose main function is to transport packets across network boundaries.
                            Routers communicate with one another via specially designed routing protocols,
                            either interior gateway protocols or exterior gateway protocols, as needed for the topology of the network.
                                The Internet Protocol (IP) is the network layer communications protocol in the Internet protocol suite for relaying datagrams across network boundaries.
                                Its routing function enables internetworking, and essentially establishes the Internet.
                                <img src="images/IPandNet.gif" alt="IP in network layer image"/>
                                </span>
                            <button class="btn btn-info" onclick="myFunction()" id="myBtn">Read more</button>
                        </p>
                        <p class="left"></p>
                        <h3 class="mt-4">Important Protocols</h3>
                        <p>For details please call <i class="fas fa-phone mt-4 fa-2x"> </i> or email <i
                                class="fas fa-envelope mt-4 fa-2x"></i> using contactus page. Thank you </p>
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="">TCP/IP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">HTTP</a>
                            </li>
                        </ul>
                        <p class="left">
                            <b>The Transmission Control Protocol (TCP) </b>is one of the main protocols of the Internet
                            protocol suite. It originated in the initial network implementation
                            in which it complemented the Internet Protocol (IP). Therefore, the entire suite is commonly
                            referred to as TCP/IP.
                        </p>
                        <p class="left">
                            <b>The Hypertext Transfer Protocol (HTTP)</b> is an application-layer protocol for
                            transmitting hypermedia documents, such as HTMLis the protocol used to transmit all data
                            present on the World Wide Web. This includes text, multimedia and graphics. It is the
                            protocol used to
                            transmit HTML, the language that makes all the fancy decorations in your browser. It works
                            upon TCP/IP.
                        </p>
                        <hr class="d-sm-none">
                    </div>
                    <div class="col-sm-8">
                        <h2>DNS</h2>
                        <h5>Domain Name Server / Domain Name System</h5>
                        <div class="fakeimg"><img height="100" width="100" src="images/theinternet-dns.svg"
                                                  alt="DNS image"></div>
                        <p>DNS Basics</p>
                        <p class="left">All computers on the Internet, from your smart phone or laptop to the servers
                            that serve content for massive retail websites,
                            find and communicate with one another by using numbers. These numbers are known as IP
                            addresses. When you open a web browser
                            and go to a website, you don't have to remember and enter a long number. Instead, you can
                            enter a domain name like example.com and still end up in the right place.

                            A DNS service such as Amazon Route 53 is a globally distributed service that translates
                            human readable names like www.example.com
                            into the numeric IP addresses like 192.0.2.1 that computers use to connect to each other.
                            The Internet’s DNS system works much like
                            a phone book by managing the mapping between names and numbers. DNS servers translate
                            requests for names into IP addresses,
                            controlling which server an end user will reach when they type a domain name into their web
                            browser. These requests are called queries..</p>

                        <h2 class="mt-5">How DNS works ?</h2>
                        <h5>NameServers- Root, TLD and Authoritative</h5>
                        <div class="fakeimg"><img width="500" height="350" src="images/howdnsworks.png"
                                                  alt="image of DNS basic working"></div>
                        <p>Client(you), Web Server and DNS Server</p>
                        <p class="left">Step 1 – Send a Request to Resolve a Domain Name</p>
                        <p class="left">Step 2 – Search for an IP Locally</p>
                        <p class="left">Step 3 – Contact ISP and its Recursive DNS Server to Resolve a Domain Name.</p>
                        <p class="left">Step 4 – Ask Outside DNS Servers to Provide an IP Address</p>

                        <ul>
                            <li class="left">Root domain nameservers.
                                Root servers themselves do not map IP addresses to domain names. Instead, they hold the
                                information about all top-level domain (TLD)
                                nameservers and point to their location. TLD is the rightmost section of a domain name,
                                for example, .com in suchikhare.com or .org in www.mysite.org.
                                Root servers are critical since they are the first stop for all DNS lookup requests.
                            </li>
                            <li class="left">TLD nameservers. These servers contain the data for second-level domains,
                                such as ‘phoenixnap’ in phoenixnap.com.
                                Previously, the root server pointed to the location of the TLD server. Then, the TLD
                                server needs to direct the request toward the
                                server that contains the necessary data for the website we are trying to reach.
                            </li>
                            <li class="left">Authoritative nameserver. Authoritative servers are the final destination
                                for DNS lookup requests. They provide the website’s IP address
                                back to the recursive DNS servers. If the site has subdomains, the local DNS server will
                                keep sending requests to the authoritative server
                                until it finally resolves the IP address.
                            </li>
                        </ul>

                        <p class="left">Step 5 – Receive the IP Address</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <div>
            SuchiKhare &#169;
        </div>
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/SuchiKhare/IS601Project1" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="w3cvalidator/ipanddns.html" class="me-4 text-reset">
                W3CValidator
            </a>
        </div>

    </footer>
</div>
</body>
</html>