<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Server</title>
    <link rel="stylesheet" href="css/suchicustom.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/suchibanner.css">
    <script src="javascript/suchijs.js"></script>

</head>
<body>

<div class="container">
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="navbar-brand" src="images/logo.svg" alt="logo image">
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="index.html"><i class="fa fa-fw fa-home"></i>Home</a></li>
                    <li class="dropdown, active">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-wrench"></i>Topics
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="internethistory.html"><b>The Internet</b></a></li>
                            <li><a href="webserver.html">Web Server</a></li>
                            <li><a href="ipanddns.html">IP Address and DNS</a></li>
                            <li><a href="http.html">HTTP</a></li>
                            <li><a href="dotcombubble.html">Dot-com bubble</a></li>
                            <li><a href="browserwars.html">Browser Wars</a></li>
                            <li><a href="tcpip.html">TCP/IP</a></li>
                            <li><a href="arpanet.html">ARPANET</a></li>
                            <li><a href="history.html">HISTORY</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html"><i class="fa fa-fw fa-user"></i>About</a></li>
                    <li><a href="contactus.html"><i class="fa fa-fw fa-envelope"></i>Contact Us</a></li>
                </ul>
            </div>
        </nav>

        <!-- Navbar -->

        <!-- Background image -->

        <!-- Background image -->

    </header>
    <div class="container-fluid text-center">


        <div class="row content">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="webserver.html"><b>Web Server</b></a></li>
                    </ol>
                </nav>
            </div>
            <div class="hwrap, bold">
                <div class="hmove">
                    <div class="hitem">TIM BERNER LEE REVOLUTIONARY - "WWW" - WORLD WIDE WEB</div>

                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <p><a href="internethistory.html">The Internet</a></p>
                <p><b><a href="webserver.html">Web Server</a></b></p>
                <p><a href="ipanddns.html">IP Address and DNS</a></p>
                <p><a href="http.html">HTTP</a></p>
                <p><a href="dotcombubble.html">Dot-com bubble</a></p>
                <p><a href="browserwars.html">Browser Wars</a></p>
                <p><a href="tcpip.html">TCP/IP</a></p>
                <p><a href="arpanet.html">ARPANET</a></p>
                <p><a href="history.html">HISTORY</a></p>
                <hr class="black">
                <!--<p><a class="btn btn-first" href="webserver.html" download>Send PDF</a></p>-->


            </div>
            <div class="col-sm-8 text-left">

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Web Browser</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">

                                <p>Browsers:
                                    <img style="height:50px" src="images/ChromeBrowser.jpg" alt="Chrome Browser Image">
                                    <img style="height:50px" src="images/IEBrowser.png" alt="IE Browser Image">
                                    <img style="height:50px" src="images/MozillaBroswer.png"
                                         alt="Mozilla Browser Image">
                                    <img style="height:100px" src="images/Netscape.png" alt="Netscape Browser Image">
                                    <img style="height:50px" src="images/operaBrowser.png" alt="Opera Browser Image">
                                </p>

                                <p class="grw-font">The World Wide Web (WWW), commonly known as the Web, is an
                                    information system where documents and other web resources
                                    are identified by Uniform Resource Locators (URLs, such as https://example.com/),
                                    which may be interlinked by hyperlinks,
                                    and are accessible over the Internet. The resources of the Web are transferred via
                                    the Hypertext Transfer Protocol (HTTP),
                                    may be accessed by users by a software application called a
                                    <custom-mark>web browser</custom-mark>
                                    ,
                                    and are published by a software application called a web server.
                                </p>
                                <p class="grw-font">Tim Berners-Lee is credited with developing, in 1990, both the first
                                    web server, and the first web browser,
                                    called
                                    <custom-mark>WorldWideWeb</custom-mark>
                                    and later renamed
                                    <custom-mark>Nexus</custom-mark>
                                    .
                                </p>

                                <p class="grw-font">Many others were soon developed, with Marc Andreessen's 1993
                                    <custom-mark>Mosaic (later Netscape)</custom-mark>
                                    ,
                                    being particularly easy to use and install, and often credited with sparking the
                                    internet boom of the 1990s.
                                </p>

                                <p class="grw-font">Today, the major web browsers are Chrome, Safari, Internet Explorer,
                                    Firefox, Opera, and Edge.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Web Server and
                                    HTTP</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <img width="400" src="images/webserverimage.jpg" alt="web server image">
                            </div>
                            <div class="panel-body">
                                <p class="grw-font">A web server is computer software and underlying hardware that
                                    accepts requests via
                                    HTTP, the network protocol
                                    created to distribute web pages, or its secure variant HTTPS. A user agent, commonly
                                    a web browser or web crawler,
                                    initiates communication by making a request for a specific resource using HTTP, and
                                    the server responds with the
                                    content of that resource or an error message.
                                    The server can also accept and store resources sent from the user agent if
                                    configured to do so.</p>
                                <p class="grw-font">-HTTP is an application layer protocol for transmitting hypermedia
                                    docs such as HTML over internet.
                                    HTTP is the foundation of data communication for the WWW. Initiated by Tim
                                    Berners-Lee in 1989.
                                    Different versions HTTP/1(1997), HTTP/2(2015), HTTP/3 came.</p>
                                <p class="grw-font"> HTTP functions as request-response model in client server computing
                                    model. Web Browser
                                    <span id="dots">...</span><span id="more">(Client) submits the HTTP request message to the
                                    Web Server (hosting the application). Submission is via TCP to a port on a server. Server listening to the
                                    port provides resources or performs functions and return a response message.
                                    HTTP by default runs on port 80 and if its HTTPS then the port 443.HTTP generic message - start line, header,
                                    An empty line, optionally message body. Message REQUEST is Get/hello.htm HTTP/1.1, header, Message
                                    Body. Message RESPONSE is HTTPS/1.1 200 OK, header, Message Body.
                                    Code servers can use all methods. REST uses the HTTP request types (POST, GET, PUT, and DELETE) to
                                    allow users to Create, Read, Update, and Delete (CRUD) via an API.HTTP response status codes indicate
                                    whether a specific HTTP request has been successfully completed. Response codes --> 100-199(Info
                                    response), 200-299- (Successful responses), 300-399 (redirects ex. after filling the form the page is
                                    redirected to thank you page or error page), 400-499 (Client errors- common 401, 403), 500-599 (Server
                                    errors).
                                        <b>1990 - Tim Berners Lee wrote two things
                                    (1) A Web Browser called WorldWideWeb
                                            (2) The world's first Web Server, later known as CERN httpd, which ran on NeXTSTEP.</b>

                                        1995 <b>Apache</b> development began based on NCSA HTTPd server. Apache played a key role in initial growth of WWW
                                    became dominant by overtaking HTTPd. 2009 – Apache became the first web server software to serve
                                        more than 100 million websites. <b>Netcraft</b> (The company provides web server and web hosting market share analysis plus other things).
                                        Netcraft (as of 2021) <b>Apache Web Server served 24.63, Nginx served
                                            23.1%</b>, Microsoft 6.85% of million busiest websites. Apache & Nginx (open source) and ISS Microsoft
                                    (licensed). Apache server -main configuration file is usually called httpd.conf and listens to TCP port 80
                                        <!-- start for graph -->
                                        <!-- canvas id="chart"></canvas -->
                                        <!-- end for graph-->
                                    </span>
                                    <button class="btn btn-info" onclick="myFunction()" id="myBtn">Read more</button>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">HTML and CSS</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="grw-font">(Hypertext Markup Language defines the structure of a web page) and
                                    CSS (cascading
                                    Style Sheets
                                    -styles the web page or its about presenting the contents).The goal of HTML from its
                                    inception in 1990
                                    was to separate document structure from layout.</p>
                                <p class="grw-font">Tim Berners-Lee wrote first HTML in 1993 but he did
                                    not publish the syntax for the style sheets. Lie proposed CSS in 1994 who was
                                    working with Tim Berners
                                    Lee.1993 - NSCA MOSAIC (browser that made web popular - but it allowed only to
                                    change colors).</p>
                                <p class="grw-font">HTML 1.2 - was simple if web designers want to add content features
                                    that HTML did not
                                    support, they
                                    would have to do with non-standard proprietary technologies such as Adobe Flash. No
                                    DTD. </p>
                                <p class="grw-font">HTML 4.01 - became the <span id="dots1">...</span><span id="more1">
                                    official standard in 1999. This needs DTD. The original
                                    purpose of the doctype was to enable
                                    parsing and validation of HTML documents XHTML became the official standard in 2000
                                    (XML version of
                                    HTML but with stricter rules for interoperability feature).
                                    HTML 5.0 (last final version), does not define DTD. HTML5 enriches the semantic
                                    content of documents,
                                    new page structure elements such as main, section, article, header, footer, aside,
                                    nav, and figure are added.
                                    Other major differences between HTML
                                    1.2, HTML 4.01 and HTML5 are Style (presenting the contents) is available in HTML
                                    4.01 and HTML5,
                                    JavaScript to make pages respond to user behaviors supported in HTML 4.01 & HTML5
                                    and Audio, Video, Canvas are available in HTML5 only</span>
                                    <button class="btn btn-info" onclick="readMoreOrLess()" id="myBtn1">Read more
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Sessions</a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            <div class="panel-body"><p class="grw-font">A session ID is a unique number that a Web
                                site's server assigns a specific user for the
                                duration of that user's visit (session). Request has a session-Id to determine the
                                logged in user. Issue if
                                we lose the scalability as all my logged-in user gets data from the WS who store the
                                session-ID. Reading
                                and writing session data at each user interaction must be done without hurting the user
                                experience
                                while the user session is live, no round-trip to the central database should be
                                needed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Sticky Session</a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse">
                            <div class="panel-body"><p class="grw-font">Sticky session refers to the feature of many
                                commercial load balancing solutions
                                for web-farms to route the requests for a particular session to the same physical
                                machine that serviced the first request for that session.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Reverse Proxy</a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p class="grw-font"> There are multiple reasons for Reverse Poxy (typical rationales are
                                    due
                                    to high availability, load balancing, security and centralized
                                    authentication/authorization).it is critical in
                                    theses implementations that layout, design and architecture of the backend
                                    infrastructure (those
                                    servers which actually handles the requests) are insulated and protected from the
                                    outside as far as
                                    client is concerned, the reverse proxy is the sole source of all content. Reverse
                                    Proxy Server - Idea is they
                                    itself does not generate/ host the content but the content is obtained by several
                                    backend servers, which
                                    normally have no direct connection to the external network.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 sidenav">
                <div class="text-center">
                    <img class="img-fluid" height="120" width="120" src="images/TimberLee.jpg"
                         alt="image of TBL">
                    <p>Tim Berners Lee</p>
                    <p class="left">Tim Berners-Lee gave the world the greatest invention since the printing press.
                        He is the man who created the Web Browser (WWW) - 1989 and Web Server (HTML and HTTP).
                        He realized that information could easily be shared using a 1960s technology called
                        hypertext-created by Ted Nelson in 1965.
                    </p>

                    <p class="left">TBL ,who enabled a system to be able to view web pages, known as hypertext
                        documents, through the
                        Internet.
                    </p>
                </div>
            </div> <!-- closed col-sm-2 sidenav -->
        </div>

    </div>

    <footer class="text-center text-lg-start bg-light text-muted">
        <!-- Section: Social media -->
        <div>
            SuchiKhare &#169;
        </div>
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/SuchiKhare/IS601Project1" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
            <a href="w3cvalidator/webserver.html" class="me-4 text-reset">
                W3CValidator
            </a>
        </div>
    </footer>
</div>
</body>
</html>